<%- include('./partials/header.ejs') %>


<div class="plantData">
    <h1> Planten </h1>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>
    <p>plant 1</p>

</div>

<%- include('./partials/footer.ejs') %>