<footer>
</footer>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script src="js/leaflet-providers.js"></script>
<script src="js/leaflet.js"></script>
<script src="js/boom.geojson"></script>
<script src="js/leaflet.ajax.min"></script>
</body>
</html>