<div class="grid-container">
    <div class="grid-item navi">
        <H1>Add Plants</H1>
        <p>Use this form to add ... to the map. Entered data wil be displayed on the map and stockpiled in a remote database for future refrence. </p>
        
        <div class="container">
          <form action="/">
            <div class="row">
              <div>
                <label for="fname">Plantnaam</label>
              </div>
              <div class="col-100">
                <input type="text" id="plantnaam" name="plantnaam" placeholder="Geef de plantnaam op">
              </div>
            </div>
            <div class="row">
              <div>
                <label for="staat">Staat</label>
              </div>
              <div class="col-100">
                <select id="staat" name="staat">
                    <option value="Zaailing">Zaailing</option>
                    <option value="Groeifase">Groeifase</option>
                    <option value="Bloeifase">Bloeifase</option>
                    <option value="Oogstfase">Oogstfase</option>
                    <option value="Dormant">Dormant</option>
                    <option value="Ziek">Ziek</option>
                  </select>
              </div>
            </div>
            <div class="row">
              <div>
                <label for="subject">Foto</label>
              </div>
              <div class="col-100">
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
              </div>
            </div>
            <div class="row">
              <input type="submit" value="Submit">
            </div>
          </form>
        </div>
        <section><p>Made in Belgium by - Nick Mathieu &copy</p></section>
    </div>
    
    <div class="grid-item map">
        <div id="mapid"></div>
            <div class="grid-container2">
              <a href="./plantbib.ejs"> <h2>Plant Bib</h2> <div class="grid-item2"></div></a>
              <a href="./planttips.ejs"> <div class="grid-item2"><h2>Plant Tips</h2></div></a>
              <a href="./daglengte.ejs"> <div class="grid-item2"><h2>Daglengte</h2></div></a>
            </div>
    </div>

</div> 

